<!--other examples had this file, unsure if needed-->

{{!-- <a href="/dashboard//{{id}}">
    <div class="card">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Posted At: {{createdAt}}</p>
    </div>
</a> --}}